body {
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	width: 1579px;
	margin: 0 auto;
	flex: 1 0 auto;
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	src: url:'../fonts/OpenSans-Regular.ttf';
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSans';
	scr:  url:'../fonts/OpenSans-SemiBold.ttf';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url:'../fonts/OpenSans-Bold.ttf',
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'OpenSans';
	src: url:'../fonts/OpenSans-ExtraBold.ttf';
	font-weight: 800;
	font-style: normal;
}

h1,h2,h3,p, a {
	font-family: OpenSans, sans-serif;
	font-style: normal;
	color: #000000;
}



/*HEADER*/

header {
	margin: auto;
/*	margin-left: 328px;*/
	display: flex;
	background-color: #000000;
	width: 1249px;
	height: 89px;
	margin-top: 29.01px;
	opacity: 0.8;
	justify-content: space-around;
	padding: 0px;
	border: 0px;
	}

.navigation-tab ul{
	display: flex;


}

.navigation-tab li{
	text-transform: uppercase;
	list-style: none;
	position: relative;
	margin-left: 40px;
	padding: 0px;
/*	width: 90px;*/
	height: 89px;
	align-items: center;

}

.navigation-tab a{
	color: #FFFFFF;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
/*	font-weight: bold;*/
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 40px 40px 34px 40px;
	top: -16px;


}

.navigation-tab a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FF2D2D;
}

.navigation-tab a:visited{
	color: #FFFFFF;
	text-decoration: none;
}

.navigation-tab a:active{
	text-decoration: none;
}

/*Page 1*/
.container {
	display: flex;
	width: 1249px;
	margin: auto;
/*	margin-top: 0px;
	margin-left: 164px;
	margin-right: 164px;*/
	padding-bottom: 120px;
	padding-top: 102px;
	justify-content: space-between;
	background-color: FFFFFF;
	padding-left: 168.5px;
	padding-right: 168.5px;
}

.page-1 {
	background-color: #F2F2F2;
}

.main-text {
	width: 618px;
	vertical-align: top;
}

.main-text h1{
/*	display: inline-block;
	position: relative;*/
	text-transform: uppercase;
	font-family: opensans, sans-serif;
	font-weight: 800;
	width: 618px;
	font-size: 60px;
	line-height: 72px;
	margin-bottom: 0px;
	margin-top: -14px;
	letter-spacing: 2.1px;

}

.main-text p{
	width: 545px;
	margin-bottom: 65px;
	font-size: 16px;
	line-height: 28.99px;
	font-weight: 400;
	letter-spacing: 0.8px;
}

.button a{
	display: flex;
	position: relative;
	background-color: #FF2D2D;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	font-family: opensans, sans-serif;
	font-size: 18.4px;
	line-height: 33.88px;
	font-weight: 700;
	letter-spacing: 0.32px;
	justify-content: center;
	width: 227px;
	height: 45px;
	padding: 10px 0px 0px 0px;

}
 
 .button a:hover{
	border: solid;
	border-width: 1px;
	border-color: #FF2D2D;
	color: #FF2D2D;
	text-decoration: none;
	background-color: #FFFFFF;
}

.video {
	display: flex;
	width: 551px;
	height: 356px;
	justify-content: flex-end;
/*	margin-left: 83px;*/
}

/*Page 2*/

.page-2{
	display: flex;
	margin-top: 0px;
	width: 1249px;
	background-color: #FFFFFF;
	padding-bottom: 0;

}

.do-you-know {
	width: 539px;
}

.service {
	width: 50%;
}

.services-description {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 700px;
	justify-content: space-between;
}

.services-description img{
	width: 37px;
	height: 37px;
	color: #FF2D2D;
}

.do-you-know h2 {
	text-transform: uppercase;
	font-size: 42.19px;
	line-height: 55.25px;
	font-weight: 700;
	letter-spacing: 0.42px;
	margin-left: 0;
	justify-content: start;
}

.do-you-know p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;}

h3 {
	font-size: 24.07px;
	font-weight: 600;
	letter-spacing: 0.27px;
}

p{
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;}
}

.page-2 hr{
	display: flex;
	width: 1251px;
	height: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: ##ECECEC;
	padding: 0;
	justify-self: center;

}


/*Page 3*/

.page-3 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 1249px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
}

.page-3-1 {
	display: flex;
	flex-direction: column;
	width: 1249px;
	background-color: #FFFFFF;
}

h2 {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 41.99px;
	font-weight: 700;
	letter-spacing: 0.38px;
	margin-left: 0;
}

.page-3-1 p {
	display: flex;
	justify-content: center;
}

.page-3 hr {
	width: 134px;
	height: 2px;
	background-color: #FF2D2D;
}

.feature-products-menu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.feature-products-menu li{
	list-style: none;
}

.feature-products-menu a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 22px;
	line-height: 24px;
	font-weight: 600;
	letter-spacing: 0.22px;
}

.feature-products-menu a:hover{
	color: #FF2D2D;
	text-decoration: none;
}

.gallery-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.gallery-items img{
	width: 300px;
	height: 300px;
	justify-content: space-between;
	margin-bottom: 15px;
}



/*Page 4*/

.page-4 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 1249px;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
}

.page-4 h2 {
	margin-left: 0;
	justify-content: start;
}

h3 {
	display: flex;
	text-transform: uppercase;
	font-size: 30.13px;
	font-weight: 600;
	letter-spacing: 0.28px;
	margin-top: 0;
}

.meat-team {	
	display: flex;
	width: 440px;
	flex-direction: column;
}

.page-4 hr {
	width: 134px;
	height: 1px;
	background-color: #FF2D2D;
	margin-left: 0;

}

.social-media {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 0;
}

.social-media a{
	margin-right: 40px;
	margin-left: 0;


}

.team {
	display: flex;
	flex-direction: row;
	width: 1249px;
}


.team ul{
	display: flex;
	flex-direction: row;
}

.team li {
	list-style: none;
}

.team a {
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.9px;
	font-style: italic;
}

.mark-waugh-photo {
	width: 320px;
}

.mark-waugh-photo img{
	width: 330px; 
}

.mark-waugh {
	width: 920px;
	margin-top: 0;
}

.mark-waugh p {
	width: 663px;
}


.team-photo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.team-photo img{
	width: 198px;
	z-index: 4;
}

.emp-name-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

}


.emp-name-1 a{
	display: flex;
	color: rgba(255, 255, 255, 1.0);
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	list-style: none;
	text-decoration: none;
	font-size: 18.08px;
	font-weight: 600;
	letter-spacing: 0.17px;
	margin-top: -25px;
	justify-content: center;
	z-index: 3;

}

.team-photo img:hover {
	z-index: 2;

}

h4 {
	text-transform: uppercase;
	list-style: none;
	text-decoration: none;
	font-size: 18.08px;
	font-weight: 600;
	letter-spacing: 0.17px;
}


/*Page 5*/

.page-5 {
display: flex;
flex-direction: column;
width: 1249px;
background-color: #000000;
opacity: 0.8;
justify-content: center;
padding-bottom: 170px;
}

.page-5 h2 {
	color: #FFFFFF;
	font-family: opensans, sans-serif;
	text-transform: none;
}

.page-5 p {
	color: #FFFFFF;
	font-family: opensans, sans-serif;
	display: flex;
	justify-content: center;
}

/*.subscribe {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}*/

.form-1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.e-mail {
	display: flex;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: #2C2C2C;
	width: 524px;
	height: 76px;
	justify-content: flex-start;
	align-items: center;
}

.b-subscribe {
	display: flex;
	position: relative;
	text-transform: uppercase;
	height: 82px;
	align-items: center;
	background-color: #FF2D2D;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	font-family: opensans, sans-serif;
	font-size: 18.4px;
	line-height: 33.88px;
	font-weight: 700;
	letter-spacing: 0.32px;
	justify-content: center;
	width: 217px;
	padding: 10px 0px 0px 0px;
}
 
 .b-subscribe:hover{
	border: solid;
	border-width: 2px;
	border-color: #FF2D2D;
	color: #FF2D2D;
	text-decoration: none;
	background-color: #FFFFFF;
}

/*Page 6*/

.page-6 {
display: flex;
flex-direction: column;
width: 1249px;
background-color: #FFFFFF;
justify-content: flex-start;
align-content: flex-start;
margin-bottom: 0px;
}

.page-6 h2 {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;

}

.page-6 p{
	width: 763px;
}

.page-6 hr {
	width: 134px;
	height: 2px;
	background-color: #FF2D2D;
	margin-left: 0;
	margin-bottom: 20px;
}

.contact-1 {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: row;
	width: 1249px;
}
.contact-2 {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: column;
}

.form-2 {
	display: flex;
/*	justify-content: space-between;*/
	align-content: flex-start;
	flex-direction: column;
}
.line {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-direction: row;

}

.contact {
	display: flex;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	width: 334px;
	height: 71px;
	margin-bottom: 20px;
	margin-top: 0px;

	color: #000000;
/*	align-items: center;*/

}

.contact p {
	color: #000000;
	font-size: 16;
	font-weight: 400;
	z-index: 3;
	opacity: 1;
}

.message {
	display: flex;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	width: 734px;
	height: 252px;
	margin-bottom: 65px;
	margin-top: 0px;
	color: #000000;
	}

.cont-info {
	display: flex;
	flex-direction: column;
	background-color: #000000;
	opacity: 0.8;
	width: 580px;
	height: 485px;
	justify-content: center;
	margin-right: -168px;
}

.cont-info h4{
	color: #FFFFFF;
	font-size: 18px;
	font-family: opensans, sans-serif;
	padding-left: 81px;
}

.cont-info address{
	color: #FFFFFF;
	font-size: 16px;
	font-family: opensans, sans-serif;
	padding-left: 81px;
}

.button-sm {
	display: flex;
	position: relative;
	text-transform: uppercase;
	height: 82px;
	align-items: center;
	background-color: #FF2D2D;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	font-family: opensans, sans-serif;
	font-size: 18.4px;
	line-height: 33.88px;
	font-weight: 700;
	letter-spacing: 0.32px;
	justify-content: center;
	width: 217px;
	border-width: 0px;

}

 .button-sm:hover{
	border: solid;
	border-width: 2px;
	border-color: #FF2D2D;
	color: #FF2D2D;
	text-decoration: none;
	background-color: #FFFFFF;
}
/*FOOTER*/



footer {
	display: flex;
	flex: 0 0 auto;
	background-color: #000000;
	width: 1249px;
	height: 113px;
	opacity: 0.8;
	align-items: center;
	justify-content: center;
	padding: 0 168px 0 168px;
	border: 0px;
	flex-direction : row;
	justify-content: space-between;
	}

	footer p{
	color: #FFFFFF;
	font-size: 14px;
	font-family: opensans, sans-serif;
}

.footer-links {
	display: flex;
	font-display: row;
	list-style: none;
}

@media screen and (max-width: 1286px){

	header {
		justify-content: flex-start;
	}

	.container {
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
}

	.main-text {
		width: 50%;
		box-sizing: border-box;
		margin-bottom: 40px;
		min-width: 618px;
}

	.video {
		width: 50%;
		box-sizing: border-box;
		margin-left: 0;
		justify-content: flex-start;
}

	.page-3-1 {
		width: 50%;
		box-sizing: border-box;
		margin-bottom: 40px;
		justify-content: start;
		flex-direction: column;

}

	.feature-products-menu {
		width: 50%;
		box-sizing: border-box;
		margin-bottom: 40px;
		flex-direction: column;
		justify-content: space-between;
}

	.feature-products-menu a {
		justify-self: start;
		padding-right: 30px;
	}

	.gallery-items{
		width: 50%;
		box-sizing: border-box;
		margin-bottom: 40px;
		flex-direction: row;
		justify-content: space-between;
}

	.team {
		width: 50%;
		box-sizing: border-box;
		margin-bottom: 40px;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.team-photo {
		width: 50%;
		flex-direction: row;
		flex-wrap: wrap;	
	}

	.emp-name-1 {
		margin-bottom: 30px;
	}

	.page-5 h2, p{
		width: 50%;
		box-sizing: border-box;
		justify-self: flex-start;
		margin-left: 0;
		text-align: left;
	}

	.form-1{
		width: 50%;
		box-sizing: border-box;
		justify-self: flex-start;		
	}

	.page-6 {
/*		width: 50%;*/
		box-sizing: border-box;
		justify-self: flex-start;
		margin-left: 0;
		flex-direction: row;
		flex-wrap: wrap;
		
	}

	.contact-1 {
		width: 50%;
		box-sizing: border-box;
		justify-self: flex-start;
		margin-left: 0;
	}

	.cont-info {
		width: 50%;
		box-sizing: border-box;
		justify-self: flex-start;
		margin-left: 0;
	}

	footer {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		justify-content: start;
		flex-wrap: wrap;
		height: auto;

	}

	.footer {
		display: flex;
		width: 50%;
		min-width: 300px;
		box-sizing: border-box;
		justify-self: start;
	}

	.footer-links {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;	
		width: 50%;
	}
}

@media screen and (max-width: 900px){
	.video {
		justify-self: flex-start;
}

	.do-you-know {
		flex-wrap: wrap;
		flex-direction: column;
		margin-bottom: 40px;
	}

	.services-description {
		width: 50%;
		box-sizing: border-box;		
	}

}